p {
	font-family: Arial;
	font-size: 20px;
}

h1 {
	font-family: Raleway;
	text-align: center;
}

h1 {
	font-size: 3rem;
}

span {
	font-size: 2em;
}

p {
	font-weight: bold;
}

p {
	line-height: 2;
	text-align: right;
}

p {
	text-decoration: underline;
}



